/* -----------------------------------------------------------------------


 Blueprint CSS Framework 1.0.1
 http://blueprintcss.org

   * Copyright (c) 2007-Present. See LICENSE for more info.
   * See README for instructions on how to use Blueprint.
   * For credits and origins, see AUTHORS.
   * This is a compressed file. See the sources in the 'src' directory.

----------------------------------------------------------------------- */

/* reset.css */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}

/* typography.css */
html {font-size:100.01%;}
body {font-size:120%;color:#222;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
.left {float:left !important;}
p .left {margin:1.5em 1.5em 1.5em 0;padding:0;}
.right {float:right !important;}
p .right {margin:1.5em 0 1.5em 1.5em;padding:0;}
a:focus, a:hover {color:#09f;}
a {color:#06c;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong, dfn {font-weight:bold;}
em, dfn {font-style:italic;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;}
li ul, li ol {margin:0;}
ul, ol {margin:0 1.5em 1.5em 0;padding-left:1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}

/* forms.css */
label {font-weight:bold;}
fieldset {padding:0 1.4em 1.4em 1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;margin-top:-0.2em;margin-bottom:1em;}
fieldset, #IE8#HACK {padding-top:1.4em;}
legend, #IE8#HACK {margin-top:0;margin-bottom:0;}
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea {background-color:#fff;border:1px solid #bbb;color:#000;}
input[type=text]:focus, input[type=password]:focus, input[type=url]:focus, input[type=email]:focus, input.text:focus, input.title:focus, textarea:focus {border-color:#666;}
select {background-color:#fff;border-width:1px;border-style:solid;}
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea, select {margin:0.5em 0;}
input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}
textarea {padding:5px;}
form.inline {line-height:3;}
form.inline p {margin-bottom:0;}
.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}

/* -------------------------------------------------------------- 
      
   liquid.css
   * Sets up an easy-to-use grid of 24 columns that stretch
     to the window width or can also be fixed width.

-------------------------------------------------------------- */
.container {
	min-width: 300px;
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

@media screen and (max-width: 400px) { body { font-size: 67%; } }
@media screen and (min-width: 401px) and (max-width: 600px) { body { font-size: 73%; } }
@media screen and (min-width: 601px) and (max-width: 800px) { body { font-size: 78%; } }
@media screen and (min-width: 801px) and (max-width: 1000px) { body { font-size: 87%; } }
@media screen and (min-width: 1001px) and (max-width: 1400px) { body { font-size: 94%; } }

.block		{overflow: hidden;}


/* Columns
-------------------------------------------------------------- */

/* Use this class together with the .span-x classes
   to create any composition of columns in a layout. */
.column		{float: left;}

/* The last column in a row needs this class. */
.last 		{ margin-right: 0; }

/* Use these classes to set the width of a column. */
.span-1		{ width: 4%; }
.span-2		{ width: 8%; }
.span-3		{ width: 12%; }
.span-4		{ width: 16%; }
.span-5		{ width: 20%; }
.span-6		{ width: 25%; }
.span-7		{ width: 29%; }
.span-8		{ width: 33%; }
.span-9		{ width: 37%; }
.span-10	{ width: 41%; }
.span-11	{ width: 45%; }
.span-12	{ width: 50%; }
.span-13	{ width: 54%; }
.span-14	{ width: 58%; }
.span-15	{ width: 62%; }
.span-16	{ width: 66%; }
.span-17	{ width: 70%; }
.span-18	{ width: 75%; }
.span-19	{ width: 79%; }
.span-20	{ width: 83%; }
.span-21	{ width: 87%; }
.span-22	{ width: 91%; }
.span-23	{ width: 95%; }
.span-24	{ width: 100%; margin-right: 0; }

.span-1>div, .span-2>div, .span-3>div, .span-4>div, 
.span-5>div, .span-6>div, .span-7>div, .span-8>div, 
.span-9>div, .span-10>div, .span-11>div, .span-12>div,
.span-13>div, .span-14>div, .span-15>div, .span-16>div, 
.span-17>div, .span-18>div, .span-19>div, .span-20>div, 
.span-21>div, .span-22>div, .span-23>div, .span-24>div {
	margin: 0 0.833em 0 0;
	overflow: hidden;
}

/* Add these to a column to append empty cols. */
.append-1   { padding-right: 4%; }
.append-2   { padding-right: 8%; }
.append-3   { padding-right: 12%; }
.append-4   { padding-right: 16%; }
.append-5   { padding-right: 20%; }
.append-6   { padding-right: 25%; }   
.append-7   { padding-right: 29%; }   
.append-8   { padding-right: 33%; }
.append-9   { padding-right: 37%; }
.append-10  { padding-right: 41%; }
.append-11  { padding-right: 45%; }
.append-12  { padding-right: 50%; }
.append-13  { padding-right: 54%; }
.append-14  { padding-right: 58%; }
.append-15  { padding-right: 62%; }
.append-16  { padding-right: 66%; }
.append-17  { padding-right: 70%; }
.append-18  { padding-right: 75%; }
.append-19  { padding-right: 79%; }
.append-20  { padding-right: 83%; }
.append-21  { padding-right: 87%; }
.append-22  { padding-right: 91%; }
.append-23  { padding-right: 95%; }

/* Add these to a column to prepend empty cols. */
.prepend-1   { padding-left: 4%; }
.prepend-2   { padding-left: 8%; }
.prepend-3   { padding-left: 12%; }  
.prepend-4   { padding-left: 16%; }   
.prepend-5   { padding-left: 20%; }  
.prepend-6   { padding-left: 25%; }  
.prepend-7   { padding-left: 29%; }  
.prepend-8   { padding-left: 33%; }  
.prepend-9   { padding-left: 37%; }  
.prepend-10  { padding-left: 41%; }  
.prepend-11  { padding-left: 45%; }  
.prepend-12  { padding-left: 50%; }  
.prepend-13  { padding-left: 54%; }  
.prepend-14  { padding-left: 58%; }  
.prepend-15  { padding-left: 62%; }  
.prepend-16  { padding-left: 66%; }  
.prepend-17  { padding-left: 70%; }  
.prepend-18  { padding-left: 75%; }  
.prepend-19  { padding-left: 79%; }  
.prepend-20  { padding-left: 83%; }  
.prepend-21  { padding-left: 87%; }  
.prepend-22  { padding-left: 91%; }  
.prepend-23  { padding-left: 95%; }  


/* Border on right hand side of a column. */
.border {
	border-right: 1px solid #eee;
}

/* Border with more whitespace, spans one column. */
.colborder {
	padding-right: 2%;
	margin-right: 2%;
	border-right: 1px solid #eee;
}

.colborder>div {
	margin: 0;
}


/* Use these classes on an element to push it into the 
   next column, or to pull it into the previous column. */

.pull-1  { margin-left: -3.333em; }
.pull-2  { margin-left: -6.666em; }
.pull-3  { margin-left: -10em; }
.pull-4  { margin-left: -13.333em; }

.push-0  { margin: 0 0 0 1.5em; }
.push-1  { margin: 0 -3.333em 0 1.5em; }
.push-2  { margin: 0 -6.666em 0 1.5em; }
.push-3  { margin: 0 -10em 0 1.5em; }
.push-4  { margin: 0 -13.333em 0 1.5em; }
.push-0, .push-1, .push-2, .push-3, .push-4 { float: right; }


/* Misc classes and elements
-------------------------------------------------------------- */

/* Use a .box to create a padded box inside a column.  */ 
.box { 
  padding: 1.5em; 
  margin-bottom: 1.5em; 
  background: #eee; 
}

/* Use this to create a horizontal ruler across a column. */
hr {
  background: #ddd; 
  color: #ddd;
  width: 100%; 
  height: 0.083em;
  margin: 0 0 1.583em;
  border: none; 
}
hr.space {
  background: #fff;
  color: #fff;
}


/* clearfix */
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}
