
.homework-container {
	.homework-editor {
		float: left;
		width: 48%;
	}

	.homework-diff {
		float: right;
		width: 48%;
		height: 200px;
		overflow: auto;
		margin-left: 2%;
		font-family: Courier New, monospace;

		font-size: 14px;

		.diff-line {
			line-height: 1.2;
			min-height: 16px;
			&::before { content: "> "; }
		}
		del { color: darkred; background-color: lighten(red, 45%); }
		ins { color: darkgreen; background-color: lighten(green, 67%); text-decoration: none; }
	}

	.homework-compile {
		float: right;
		width: 48%;
		height: 50px;
		overflow: auto;
		margin-left: 2%;
		color: rgba(200, 120, 0, 1);
	}

	.homework-problem {
		.instructions {
			font-size: 1.1em;
			color: #999;
			text-align: center;
		}
		
		// space for next, previous arrows, and select
	}
	
	.clear { clear: both; }	
}

