
@monospace: "Courier New";

/* Lesson Page */

.lesson-page {
	width: 100%;

	/* columns */
	.page-column {
		overflow: hidden;
		position: relative;
		height: 600px;
		float: left;
		margin-right: 1.5%;
		min-height: 1px;
		
		.page-column-inner {
			position: absolute;
			width: 100%;
		}
	}

	.page-title {
		font-size: 2em;
		text-align: center;
	}

	.page-column.reverse-column .lesson-element.title-element {
		border-bottom: none;
		border-top: 1px solid black;
	}

	/* lesson elements */
	.lesson-element {

		/* generic styles */
		i { color: darkgreen; }

		code {
			background-color: rgba(200, 200, 200, 0.2);
			border: 1px solid rgba(200, 200, 200, 1.0);
			border-radius: 0.2em;
			padding: 0.1em;
			font-size: 95%;
		}

		table tbody td {
			background: none; /* remove default blueprint even row background */
			border-bottom: 1px solid darken(#fff, 20%);
		}

		/* elements */
		&.button-element.continue-button-element {
			margin-bottom: 0.5em;
			text-align: center;
			&.button-clicked-disabled {
				opacity: 0.3;
				color: rgba(0, 0, 0, 0.0);
				cursor: default;
			}
		}

		&.button-element {
			cursor: pointer;
			background-color: rgba(14, 44, 14, 0.1);
			border-radius: 10px;
			padding: 4px;
			border: 1px solid rgba(0, 42, 0, 0.5);
		}

		&.title-element {
			font-weight: bold;
			border-bottom: 1px solid black;
		}

		&.text-element {
			margin-bottom: 0.5em;

			.hidden-text-show-button {
				display: inline-block;
				cursor: pointer;
				padding: 0.2em 0.4em;
				margin: 0 0.5em;
				font-size: 80%;
				border: 1px solid darken(#fff, 25%);
				background-color: darken(#fff, 15%);
				border-radius: 0.3em;
			}

			blockquote.code {
				text-align: left;
				padding-left: 2em;
				margin: 0.3em;
				font-family: monospace;
				font-style: normal;
				color: black;

				&.code-large { font-size: 2.5em; }
			}

			pre {
				margin: 1em;
			}

		}

		&.image-element {
			text-align: center;
			img { max-width: 100%; max-height: 400px; }
		}

		&.quiz-element {
			margin-bottom: 0.5em;
			padding-bottom: 0.5em;
			
			.lesson-quiz {
				clear: both;
				
				.quiz-header {
					display: inline;
					font-size: 1.3em;
				}

				.lesson-quiz-question {
					margin-bottom: 0.5em;
					border-bottom: 1px solid black;
				}

				.lesson-quiz-explanation {
					display: none;
					font-size: 90%;
					padding: 3px;
					margin-left: 40px;
					margin-right: 40px;
				}

				.lesson-quiz-answer {
					cursor: pointer;
					margin-left: 10px;
					margin-bottom: 0.1em;
					padding-left: 1em;
					border-radius: 5px;
				}
				
				.lesson-quiz-student-answer {
					background-color: rgba(0, 0, 0, 0.1);
				}

				.check-answer-button { display: inline-block; }

				&.quiz-answered {
					.lesson-quiz-explanation { display: block; }
					.lesson-quiz-answer {
						cursor: auto;

						&.lesson-quiz-student-answer {
							&:before { content: "Your Answer: "; }
						}
					}
					*[is-correct="false"] { background-color: rgb(255, 200, 200); }
					*[is-correct="true"] { background-color: rgb(200, 255, 200); }
				}

				&.quiz-new {
					.lesson-quiz-answer {
						&:hover { background-color: rgba(100, 100, 200, 0.1); }
						&.lesson-quiz-student-answer:hover { background-color: rgba(0, 0, 0, 0.1); }
					}
				}
			}
		}
		
		&.grammar-game-element {
			.grammar-area-container {
				float: left; width: 50%; min-height: 400px; margin-right: 9%;
				
				.grammar-area {
					*[grammar-rule] { border: 1px dotted black; padding: 10px; }
					.grammar-rule-hover { background-color: lightyellow; }
					.grammar-layer-inline { display: inline-block; }
					.grammar-layer {
						position: relative;
						
						.grammar-layer { margin-left: 2em; margin-right: 0.3em; } /* nested layer */
						.grammar-layer-title { position: absolute; top: 0; right: 0; font-size: 0.7em; color: rgba(0, 0, 0, 0.5); }
					}

					.grammar-symbol {
						border-radius: 4px;

						.grammar-symbol-acceptor {
							background-color: yellow !important;
						}
						
						&.grammar-required {
							border-style: solid;
							border-color: rgba(255, 0, 0, 0.3);
						}
					}
					.grammar-literal { display: inline; }
					.grammar-type-input {
						display: inline;
						margin-right: 0.5em;
						background-color: rgba(255, 150, 50, 0.3);
					}
				}

				.grammar-symbol,
				.grammar-input-text,
				.grammar-literal { font-family: Courier New, monospace; font-size: 0.8em; }
			}

			.grammar-rules {
				float: left; width: 40%; font-size: 90%;

				.grammar-symbol-helper {
					border: 2px dotted yellow;
					border-radius: 0.5em;
					padding: 0.5em;
					font-weight: bold;
					background-color: white;
				}
				
				.grammar-rule {
					// list of terms
					.grammar-terms {
						font-family: Courier New, monospace; font-size: 0.8em; margin-left: 2.5em;
						
						.grammar-rule.ui-draggable { cursor: move; }
						
						.grammar-term {
							&.grammar-type-inline { display: inline; }
							&.grammar-type-input { display: inline; background-color: rgba(255, 150, 50, 0.3); padding-right: 0.5em; }
						}
					}

					.grammar-help {
						font-size: 0.8em;
						color: rgba(0, 0, 0, 0.8);
					}

					.grammar-symbol-title {
						border-bottom: 1px solid black;
						margin-top: 0.5em;
					}

				}
			}

			/* grammar game: classes for both right and left areas */
			.grammar-area .grammar-symbol,
			.grammar-rules .grammar-term { border: 1px dotted rgba(0, 0, 0, 0.3); margin: 2px 0; border-radius: 4px; }
			
			.grammar-area .grammar-type-block,
			.grammar-rules .grammar-type-block { margin-left: 2em; background-color: rgba(0, 0, 255, 0.2); }
			
			.grammar-area .grammar-type-line,
			.grammar-rules .grammar-type-line { background-color: rgba(0, 255, 0, 0.2); }
			
			.grammar-area .gramar-literal,
			.grammar-rules .grammar-literal { display: inline; border: none; }
			
			.grammar-area .grammar-type-inline,
			.grammar-rules .grammar-type-inline {
				display: inline;
				background-color: rgba(255, 0, 0, 0.2);
			}
		}

		&.edit-processing-element {
			
			.canvas-container { text-align: center; }
			.console-container {
				font-size: 0.8em; font-family: Courier New, monospace; line-height: 1.0; padding: 0.3em;
				background-color: black;
				color: white;
				margin: 1em; margin-left: 15px;
				border: 3px solid #666;
				border-radius: 0.4em;
				
				.log-line { min-height: 1em; }
			}

			.editor-buttons {
				margin-left: 15px;
				text-align: left;

				.editor-button {
					display: inline-block !important;
					cursor: pointer;
					padding: 0.4em 1em;
					background-color: rgb(230, 230, 230);
					border: 1px solid rgb(100, 100, 100);
					box-shadow: 1px 1px 3px #aaa;
					border-radius: 5px;
					text-align: center;
					margin: 3px 12px;
					margin-left: 0px;
					font-size: 70%;

					&.state-hidden { display: none !important; }

					&.edit-button-record.state-inactive { background: url(../images/circle_black.png) center no-repeat; background-size: 1em 1em; }
					&.edit-button-record.state-active { background: url(../images/square_black.png) center no-repeat; background-size: 1em 1em; }

					&:hover {
						background-color: rgb(180, 180, 255);
					}

				}

				.message-admin-container {
					textarea { display: block; width: 300px; height: 5em; }
					input[type="text"] { display: block; width: 200px; }
				}

				.open-playback-container {
					&:before { content: "Open File in record/*: "; }
					input { margin-left: 1em; }
				}

				.editor-playback-speed {
					font-size: 75%;
					display: inline-block;
					width: 10em;
					margin-left: 1em;
				}

				.editor-playback-speed-value {
					display: inline-block;
					font-size: 75%;
					margin-left: 1em;
					margin-right: 1em;
				}
			}

			.editor-container {
				margin: 15px;

				.editor-message-box {
					background-color: rgba(0, 0, 0, 0.8);
					color: white;
					width: 96%;
					padding: 0.5em 2%;
					padding-bottom: 2.5em;
					min-height: 3em;
					position: absolute;
					bottom: 0; left: 0;
					z-index: 5;	

					.editor-message-box-done {
						position: absolute;
						bottom: 0.3em;
						left: 15%;
						cursor: pointer;
						padding: 0.3em;
						background-color: rgba(255, 255, 255, 0.3);
						border: 1px solid rgba(255, 255, 255, 0.6);
					}
				}
			}
		}

		&.console-element {
			.console-error {
				color: darken(red, 25%);
			}

			.console-output {
				height: 12em;
				overflow: scroll;
				background-color: black;
				border-radius: 0.5em;
				border: 3px solid darken(#fff, 50%);
				font-family: monospace;
				color: white;

				.console-output-line {
					min-height: 1em;
					padding-left: 0.5em;
					line-height: 1.0;

					&.console-output-error {
						color: lighten(red, 25%);
					}

					&.console-input-line {
						font-style: italic;
						color: darken(white, 30%);
					}
				}

			}

			.console-input {
				input {
					font-size: 1.2em;
					width: 85%;
					padding: 0.3em;
					font-family: monospace;
					padding-left: 1.3em;
					background: url(../images/console_prompt.png) no-repeat left center;
					border-bottom: none; border-right: none;
				}
			}
		}

		&.diagram-element.VariableTableFigure {

			.variables-title { font-size: 1.5em; text-align: center; }
			.variables-area {
				th { text-align: center; }
				th.variable-header-name { background-color: #ffe680; }
				th.variable-header-value { background-color: #ffb380; }
				th.variable-header-type { background-color: #dde9af; }

				.variable-row {
					font-family: @monospace;
				}
			}
		}

		&.information-element {
			font-size: 80%;

			.information-title {
				font-size: 1.25em;
				text-align: center;
			}

			.information-row {
				clear: both;
				margin-bottom: 0.1em;
				
				> div {
					display: inline-block;
				}

				.information-label {
					margin-right: 1em;
				}

				.information-value {
					border-radius: 0.3em;
					padding: 0 0.2em;
				}

				.information-value {
					color: black;
					del { color: darken(red, 15%); padding: 0 0.5em; text-decoration: line-through; }
				}

				&.information-complete {
					.information-value { font-weight: bold;  }
					.information-label {
						font-style: italic;
						text-shadow: 1px 1px 3px green;
					}
				}
			}
		}
	}
}


.page-navigation {
	position: absolute;
	bottom: 0;

	.page-button {
		display: inline-block;
		margin: 10px 20px;
		padding: 0.5em;
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0.05);
		border: 1px solid rgba(0, 0, 0, 0.1);

		.button-text { font-size: 0.8em; min-height: 1.5em; }
		.button-click {
			font-size: 0.9em;
			text-align: center;
			&:after { content: " }"; }
			&:before { content: "{ "; }
		}
		
		&.page-button-disabled {
			display: none;
		}
		&.page-button-enabled {
			display: inline-block;
		}
		
		&.start-page-button {
			text-align: center;
			font-size: 80%;
			background-color: rgba(0, 0, 255, 0.05);
		}
		
		&.next-page-button {
			border-top-right-radius: 30px;
			text-align: left;
		}

		&.previous-page-button {
			border-top-left-radius: 30px;
			text-align: right;
		}

		&.current-page-button {
			text-align: center;
		}
		
		&.highlight-suggestion {
			font-size: 120%;
			background-color: #ffe680;
			transition: all 1s;
			-webkit-transition: all 1s;
		}
	}
}
