/* Home Page CSS */

@practice-color: rgba(255, 0, 0, 0.1);
@general-color: rgba(0, 0, 255, 0.1);
@java-color: rgba(0, 255, 0, 0.1);

.monospace {
	font-family: Courier New, monospace;
}

.float-container (@columns, @padding: 2) {
	float: left;
	width: percentage((100 - @columns * @padding) / @columns / 100);
	margin: 0 percentage(@padding / 100 / 2);
}


.progress-container {

	.progress-title {
		.monospace;
		text-align: center;
		margin-top: 0.5em;
		padding-bottom: 0.2em;
		border-bottom: 1px solid darken(#fff, 30%);
		box-shadow: 0 7px 6px -8px #815301;
		// text-shadow: 0 0 1px white, 0 0 2px white, 5px 6px 1px rgb(66, 180, 66), -5px -6px 1px rgb(130, 165, 238);
		font-weight: bold;
	}

	h3 { font-size: 2em; margin-bottom: 0.7em; color: #666; }

	/* sections and links to lessons on home page */
	.progress-sections-container {
		.float-container(2);
		
		.type-practice { background-color: @practice-color; }
		.type-java { background-color: @java-color; }
		.type-general { background-color: @general-color; }

		ul.legend {
			float: right;
			margin-bottom: 1em;
			border: 1px solid #999;
			border-radius: 0.5em;
			margin-left: 0; padding-left: 0;
			padding: 0.5em;
			
			div {
				text-align: center;
			}
			li {
				margin: 0.2em;
				padding: 0.2em;
				font-size: 70%;
				list-style: none;
				float: left;
			}
		}

		.sections {
			clear: both; 

			li {
				cursor: pointer;
				padding: 0.2em 0.4em;
				border-radius: 0.3em;
				list-style: none;

				&:hover {
					background-color: screen(blue, darken(#fff, 10%));
				}

				.course-pages {
					font-size: 70%;
					color: lighten(black, 40%);

					& > span { border-radius: 0.2em; padding: 0.2em; }
				}
			}
		}
	}

	.progress-portfolio-container {
		.float-container(2);
	}
}


.home-button {
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: pointer;
	font-size: 1.5em;
	font-style: italic;
	padding: 0.2em;
}

